#races {
	background-color: #010203;
	color: #f9f9ff;
}

#race--text-box--entry {
	display: flex;
	flex-direction: column;
	grid-template-rows: 25px 1fr;
	margin-bottom: 50px;
}

#race-right {
	padding: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#race-left {
	padding: 5%;
	display: flex;
	justify-content: center;
}

#race-image {
	max-height: 60vmin;
	height: auto;
}

#races-title {
	font-size: clamp(1.75rem, 5vw, 3.6rem);
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	font-family: "Poppins", sans-serif;
	margin-top: 1rem;
}

@media (max-width: 768px) {
	#race-right,
	#race-left {
		padding: 1rem;
	}
}

