#world-text {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

#world--text-box {
	overflow-y: scroll;
	padding-right: 10px;
}

#world--headers-text {
	font-weight: bolder;
	font-family: Poppins;
	font-size: 70px;
	text-align: center;
	text-transform: uppercase;
}

@media (max-width: 1024px) {
	#world--headers-text {
		font-size: 60px;
	}
}

@media (max-width: 768px) {
	#world--headers-text {
		font-size: 50px;
	}
}

@media (max-width: 480px) {
	#world--headers-text {
		font-size: 2rem;
	}
}

/* width */
#world--text-box::-webkit-scrollbar {
	width: 10px;
}

/* Track */
/* Handle */
#world--text-box::-webkit-scrollbar-thumb {
	border-radius: 10px;
}

/* Handle on hover */
#world--text-box::-webkit-scrollbar-thumb:hover {
	background: #bababa;
}
