#updates--text-box--entry {
    display: flex;
    flex-direction: column;
    grid-template-rows: 25px 1fr;
    margin-bottom: 50px;
}

#updates--text-box--entry--header{
    display: flex;
    justify-content:space-between;
}