#testimonials {
    background-color: #f9f9f9;
}

#testimonials-container {
    padding: 2% 5%;
}

#testimonials--top {
    text-align: center;
}

#testimonials--bottom {
    min-height: 120px;
    height: auto;
}


.carousel-indicators{
    margin-bottom: 0;
}

@media (max-width: 768px) {
    #testimonials-container {
        padding: 1rem;
    }
}
