#updates--text-box {
	overflow-y: scroll;
	height: 50vmin;
	padding-right: 10px;
}

#updates--text-box::-webkit-scrollbar {
	width: 10px;
}

/* Track */
/* Handle */
#updates--text-box::-webkit-scrollbar-thumb {
	background: #f9f9f9;
	border-radius: 10px;
}

/* Handle on hover */
#updates--text-box::-webkit-scrollbar-thumb:hover {
	background: #bababa;
}
