#updates--text-box {
	overflow-y: scroll;
	max-height: 50vh;
	padding-right: 10px;
	scrollbar-width: thin;
	scrollbar-color: #f9f9f9 transparent;
}

@media (max-width: 768px) {
	#updates--text-box {
		max-height: 40vh;
	}
}

#updates--text-box::-webkit-scrollbar {
	width: 10px;
}

/* Track */
/* Handle */
#updates--text-box::-webkit-scrollbar-thumb {
	background: #f9f9f9;
	border-radius: 10px;
}

/* Handle on hover */
#updates--text-box::-webkit-scrollbar-thumb:hover {
	background: #bababa;
}
