#home{
    /* background-color: #bababa; */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/moratia-games.appspot.com/o/Moratia_Games_b.png?alt=media&token=e69cfbaf-3278-457c-a64d-73c5582b08c5");
    /* color: #f9f9ff; */

}

#logo-container{
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#landing-logo{
    height: 20%;
    padding-top: 25px;
    margin-bottom: 25px;
}


