#navi-bar {
	padding: 1% 5%;
	background-color: #f9f9f9;
}

#preorder-menu {
	background-color: #010203;
	color: #f9f9f9;
	border-radius: 2rem;
}

#preorder-menu.active,
#preorder-menu:hover {
	background-color: #78be6e;
	color: #010203;
}
