#testimonials {
    background-color: #f9f9f9;
    /* color: #f9f9ff; */
    /* height: 50vmin; */
}

#testimonials-container {
    padding: 2% 5%;
}

#testimonials--top {
    text-align: center;
    /* background-color: aquamarine; */
}

#testimonials--bottom {
    /* overflow-y: scroll; */
    height: 25vmin;
    /* padding-right: 100px; */
    /* background-color: cadetblue; */
}


.carousel-indicators{
    margin-bottom: -1rem;
}