#updates{
    background-color: #010203;
    color: #f9f9ff;
    display: flex;
}

#updates-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}

/* #updates-left--top {
    grid-row: 1/2;
} */

/* #updates-left--middle {
    grid-row: 2/3;
    font-weight:bold;
    font-family: Poppins;
    font-size:3vmax;
    text-align: left;
} */

/* #updates-left--bottom {
    grid-row: 3/4;
} */

#updates-right {
    /* padding: 20% 10% 20% 5%; */
    padding: 10% 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}