#events{
    background-color: #BABABA;
    display: flex;
    flex-direction: row;
}

#events-left {
    /* background-color: #dd1818; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 5%; */
    padding: 0 10%;
}

/* #events-left--top {
    grid-row: 1/2;
} */

/* #events-left--bottom {
    grid-row: 3/4;
} */

#events-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}