.product-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5% 10%;
	gap: 3rem;
	flex-wrap: wrap;
}

.product-section.left {
	background-color: #010203;
	color: #f9f9f9;
	flex-direction: row;
}

.product-section.right {
	background-color: #f9f9f9;
	color: #010203;
	flex-direction: row-reverse;
}

.product-image-col {
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-image {
	flex: 1 1 40%;
	display: flex;
	justify-content: center;
}

.product-image img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

.product-info {
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
}

.product-title {
	font-size: 3.6rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	font-family: Poppins, sans-serif;
	margin-bottom: 1rem;
}

.product-description {
	font-size: 0.9rem;
	text-align: left;
	margin-bottom: 2rem;
	line-height: 1.5;
}

.available-now-product-buttons {
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
	flex-wrap: wrap;
}

.in-development-product-buttons {
	display: flex;
	justify-content: end;
	gap: 1.5rem;
	flex-wrap: wrap;
}

.available-now-product-buttons a {
	padding: 0.75rem 1.5rem;
	font-weight: 600;
	font-size: 1rem;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease;
}

.product-image {
	max-width: 100%;
	height: auto;
	object-fit: contain;
	display: block;
	margin: 0 auto;
}

.product-image-container {
	flex: 1;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 600px; /* or adjust as needed */
}

#product-availability-button {
	background-color: #25c115;
	border: none;
	width: 60%;
}

#product-how-to-play-button {
	background-color: #1586e1;
	border: none;
	width: 35%;
}

#product-in-development-button {
	background-color: #f7b600;
	color: #010203;
	border: none;
	width: 60%;
}
