.form-group {
	margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
	margin-bottom: 0.5rem;
	font-weight: bold;
	font-size: 1.2rem;
}

.form-group input {
	width: 100%;
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 1px solid #ccc;
}