.update-entries-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.update-title {
	text-align: left;
	font-weight: bold;
}

.update-body {
	text-align: left;
}

#update-table {
	width: 80%;
}

#add-updates-button {
	margin-bottom: 1rem;
}
