.App {
	padding: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.headers-text {
	font-weight: bolder;
	font-family: Poppins;
	font-size: clamp(2rem, 5vw, 4.375rem);
	text-align: left;
	text-transform: uppercase;
}

.content {
	scroll-margin-top: 70px;
}

.body-title {
	font-weight: bold;
	font-family: Poppins;
	font-size: 1.0625rem;
}

.sub-headers {
	font-weight: bold;
	font-family: Poppins;
	font-size: clamp(1.25rem, 3vw, 2.5rem);
	text-align: left;
}

.body-text {
	font-family: Poppins;
	font-size: clamp(0.875rem, 2vw, 1rem);
	text-align: justify;
}

@media (max-width: 768px) {
	.body-text {
		text-align: left;
	}
}

html {
	scroll-behavior: smooth;
}
